

<div class="container">
    <h1>{{data.titulo}}</h1>
    <hr>
</div>
<div class="container">
    <form action="" method="post" class="w-50">
        <input class="form-control my-2" type="text" name="nombre" id="" placeholder="ingrese su nombre">
        <input class="form-control my-2" type="email" name="email" id="" placeholder="ingrese su email">
        <div class="text-end">
            <input type="submit" value="Cargar Data" class="btn btn-primary">
        </div>
    </form>

    {{#if user}}
        <p>Hola {{user.nombre}}, {{user.email}}</p>
    {{/if}}
</div>

