

<div class="container my-5">
    <h1>{{data.titulo}}</h1>
    <hr>

    <form action="" method="post" class="w-50">
        <input required class="form-control my-2" type="text" name="nombre" id="" placeholder="ingrese su nombre">
        <input required class="form-control my-2" type="email" name="email" id="" placeholder="ingrese su email">
        <textarea required class="form-control my-2 textareas" name="mensaje" id="" placeholder="Mensaje"></textarea>
        <div class="text-end">
            <input type="submit" value="Enviar" class="btn btn-primary">
        </div>
    </form>



    {{!-- {{#if user}}
        <p class='alert alert-success'>Hola {{user.nombre}}, {{user.email}}</p>
    {{/if}} --}}
</div>

