//variables con SCSS
$color1: rgb(10, 10, 153);
$color2:rgba(255, 255, 255, 0.863);
$font-base: "Montserrat";


/*comentario multilinea CSS*/
body{
    font-family:$font-base;
}
.logo{
    color:$color1;
}
//body{
    // background-color: $color1;
//}

//Nesting - Anidacion de selectores
.navBar{
    text-align: center;
    .menu{// ul
        list-style-type: none;
        li{
            display:inline-block;
            .linkeoMenu{
                color:white !important;
                text: {
                    decoration: none;
                    transform: uppercase;
                }
                font: {
                    size: 1.2em;
                    weight: bold;
                }
                transition:1s;
                &:hover{
                    background: $color1 !important;
                    color:$color2 !important;
                }
                &:active{
                    transform:translateY(5px);
                }
            }
        }
    }
}

//Extend -> importa estilos
%caja2{
    border-radius: 5px;
    border:2px solid tomato;
    color:green;
}
.content{
    background: darken($color1, 10%);
    color:$color2;
    padding: 1.2em;
    transition: 1s;
    @extend %caja2;
    &:hover{
        background: $color1;
    }
    }

/*
.navBar{
    @extend %caja2;
}*/

.contenido div:nth-child(3){
    transform: rotate(180deg);
}
// :first-child
// :last-child

//Mixins

@mixin btnSocial($colorFondo,$border) {
    padding: 1.4em;
    font-size: 1.3em;
    background: $colorFondo;
    border:2ps solid $border;
    color: tomato;
}

.menu{
    li:nth-child(1){
        @include btnSocial(#1877F2, #0A66C2)
    }
    li:nth-child(2){
        @include btnSocial(#1DA1F2, #131418)
    }
    li:nth-child(3){
        @include btnSocial(#E4405F, #131418)
    }
    li:nth-child(4){
        @include btnSocial(#25D366, #131418)
    }
    li:hover{
        background: darken($colorFondo, 10%);
    }
}

//Partials -> Importar documentos .scss
@import 'menuSocial';
