/*comentario multilinea CSS*/
body {
  font-family: "Montserrat";
}

.logo {
  color: #0a0a99;
}

.navBar {
  text-align: center;
}
.navBar .menu {
  list-style-type: none;
}
.navBar .menu li {
  display: inline-block;
}
.navBar .menu li .linkeoMenu {
  color: white !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  transition: 1s;
}
.navBar .menu li .linkeoMenu:hover {
  background: #0a0a99 !important;
  color: rgba(255, 255, 255, 0.863) !important;
}
.navBar .menu li .linkeoMenu:active {
  transform: translateY(5px);
}

.content {
  border-radius: 5px;
  border: 2px solid tomato;
  color: green;
}

.content {
  background: #070769;
  color: rgba(255, 255, 255, 0.863);
  padding: 1.2em;
  transition: 1s;
}
.content:hover {
  background: #0a0a99;
}

/*
.navBar{
    @extend %caja2;
}*/
.contenido div:nth-child(3) {
  transform: rotate(180deg);
}